.btn-gradient{
    background-image: linear-gradient(to right, #a30e8a, #b63199);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3 ease;
    text-decoration: none;
}
.btn-gradient:hover{
    transform: scale(1.05);
    box-shadow: 0  5px 20px rgb(70, 6, 59);

}
.btn-neon{
    background: transparent;
    color: #000000;
    padding: 12px 24px;
    border: 2px solid #c028a7;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.btn-neon:hover{
    color: #000;
    background:#d43dbb ;
    box-shadow: 
    0 0 20px #d43dbb,
     0 0 20px #d43dbb,
     0 0 20px #d43dbb;
     text-shadow: 0 0 10px #000;
}
.btn-3D{
    background: linear-gradient(to bottom, #b8349b, #c028a7  );
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: all 0.1s ease;
    text-decoration: none;
    box-shadow: 
     0 6px 0 #912a7a,
     0 8px 15px #46073b;
}
.btn-3D:hover{
    background-color:#d43dbb;
    transform: translateY(2px);
    box-shadow: 
    0 4px 0 #912a7a,
    0 6px 10px #46073b;
}
.btn-3D:active{
    transform:translateY(6px);
      box-shadow: 
    0 0 0 #912a7a,
    0 2px 10px #46073b;
}
.btn-ghost{
    background-color:transparent;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid #691f59;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-ghost:hover{
    background-color: #d43dbb ;
    color: rgb(0, 0, 0);
}