@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Todos os conteúdos irão usar todo espaço da tela com uma fonte padrão */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'constantia', sans-serif;
    background: #b2d2f0;
    
}

.navbar {
    /* Display do tipo flex e propriedade flex-flow são propriedades usadas para definir
    a posição dos elementos na página, semelhante ao position */
    display: flex;
    /* row wrap = quebra de linha */
    flex-flow: row wrap;
    height: 100px;
    background: #b2d2f0;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 7%;
    /* border:1px solid red;  */
    text-align: left;
}

.logo h1 {
    font-family: 'constantia', cursive;
    color: #0b77dd;
    font-size: 34px;
}

.menu {
    /* Propriedade flex, semelhante ao width */
    flex: 70%;
    /* border:1px solid green;*/
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #0b77dd;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #064970;
    border-top: 4px solid #0b77dd;
}

#botao {
    background: #085dad;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #0a3955;
}

.header{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #b2d2f0;
    padding-top: 100px;
}

.headline{
    /* border: 1px solid black; */
    margin-left: 10%;
    flex: 40%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #0b77dd;
    padding: 0;
    margin: 0;
}

.headline p{
    color: rgb(0, 0, 0);
    text-align: left;
}

.contact-btn{
    display: inline-block;
    background: #064970;
    padding: 20px;
    color: #f5f5f5;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}

.contact-btn:hover{
    background: #0b77dd;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'constantia', cursive;
    font-weight: bold;
    color: #0b77dd;
}

.servicos{
    /* border: 1px solid black; */
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #0b77dd;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto{
    display: none;
}

.card:hover{
    background: #0b77dd;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #4763df, #2850d6, rgb(5, 4, 70));
    text-align: center;
    border-top: 5px solid #041627;
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: 'constantia', cursive;
    color: white;
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
}